{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>

    <header>
        <nav>
            <div class="row">
                <ul class="main-nav js--main-nav">                    
                    {% if post.get_field('header_nav_links') %}
                        {% for item in post.get_field("header_nav_links") %}
                            <li><a href="#{{ item.link_id }}">{{ item.link_title }}</a></li>
                        {% endfor %}
                     {% endif %}
                </ul>
                <a href="#" class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1><b>I am Tony Kwok</b><br>I am working on an Web Application<br>its language is Node</h1>
            <a class="btn btn-full js--scroll-to-plan" href="#intro">tell me more</a>
        </div>
    </header>



{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
