<!-- Footer Twig ---->
<footer>    
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">solutions</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            {% if post.get_field('social_icons') %}
            <ul class="social-links">
                {% for item in post.get_field("social_icons") %}
                    <li><a href="{{item.url}}"><i class="{{item.social_link}}"></i></a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <p>&copy; {{"now"|date('Y')}} TONY KWOK</p>
    </div>
</footer>