<!-- Footer Twig ---->
<footer>    
    <div class="row">
            {% if post.get_field('social_link_icons') %}
            <ul class="social-links">
                {% for item in post.get_field("social_link_icons") %}
                    <li>
                        <a href="{{item.social_icon_url}}">
                            <i class="{{item.social_icon}}"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
    </div>
    <div class="row">
        <div class="footer-copyright">
            <p>&copy; {{"now"|date('Y')}} <b>TONY KWOK</b></p>
        </div>
    </div>
</footer>