<section class="section-blog" id="blog">
    <div class="row">
        <h2>Latest Posts</h2>
    </div>
    <div class="row">        
        {% for post in posts %}
        <article class="post post-type-{{post.post_type}}" id="post-{{post.ID}}">
				<h1 class="article-header">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
		</article>
        {% endfor %}
    </div>
</section>
