    <section class="section-solutions" id="solutions">
        <div class="row">
            <h2>{{ post.solutions_section_title }}</h2>
            <p class="long-copy">
                Various tech industries
            </p>
        </div>
    </section>