<section class="section-form js--section-form" id="contact">
    <div class="row">
        <h2>{{ post.section_form_title }}</h2>
    </div>
    <div class="row">
        <form method="post" action="#" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="your name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="your email address" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="find-us">how did you find me</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="find-us" id="find-us">
                        <option value="referral">referral</option>
                        <option value="meetup">meetup</option>
                        <option value="linkedin" selected>linkedin</option>
                        <option value="search" >search engine</option>
                        <option value="other">other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>message</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="message" id="message" placeholder="your message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label id="label-send-button-spacing">&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="send">
                </div>
            </div>
        </form>
    </div>
</section>