/* Tony Kwok */
/* 2017 */
/* Big tablet to 1200px widths smaller than 1140px row */
@media only screen and (min-width: 1024px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%; }
  .row {
    padding: 0 2%; }
  .main-nav {
    display: block !important; } }

/* Small tablet to big tablet from 768px to 1023px iPad portrait mode */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 18px; }
  .hero-text-box {
    padding: 0 4%; }
  .contact-form {
    width: 80%; }
  .main-nav {
    display: block !important; } }

/* Small phone to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px; }
  section {
    padding: 10px 0; }
  h1 {
    font-size: 180%; }
  h2 {
    font-size: 150%; }
  .hero-text-box,
  .col {
    width: 100%;
    margin: 0 0 2% 0; }
  .section-blog .post {
    margin: 0 !important;
    padding: 10px; }
  .mobile-nav-icon {
    display: inline-block; }
  .main-nav {
    display: none;
    float: left;
    margin-top: 35px;
    margin-left: 25px; }
  .main-nav li {
    display: block; }
  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%; }
  /* sticky */
  .sticky {
    display: none !important; }
  .sticky .main-nav {
    margin-top: 10px; }
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0; }
  .sticky .mobile-nav-icon {
    margin-top: 10px; }
  .sticky .mobile-nav-icon i {
    color: #fff; }
  /* form */
  .section-form .contact-form {
    width: 100%;
    padding: 2%; }
  .section-form .contact-form .col {
    margin: 5px 0 !important; }
  .section-form .contact-form .col #label-send-button-spacing {
    display: none; }
  footer {
    padding: 30px; }
  .footer-nav, .social-links {
    float: none;
    text-align: center;
    padding: 20px 0 20px; } }

/* Small phones: from 0 to 480px iPhone older */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0 0; }
  #move-to-top {
    display: inline-block; }
  .contact-form {
    width: 100%; }
  .social-links {
    font-size: 200%; } }
